<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.MemberMapper">

	<!-- 회원목록 -->
	<select id="MemberList" resultType="MemberVO">
		SELECT * FROM t_sbp_member
	</select>
	
	<!-- 회원 로그인 -->
	<select id="MemberLogin" resultType="MemberVO">
		SELECT * FROM t_sbp_member WHERE m_userId = #{m_userId} AND m_pw = #{m_pw}
	</select>
	
	<!-- 회원가입 -->
	<insert id="MemberSignUp">
		INSERT INTO t_sbp_member(
			m_name,
			m_userId,
			m_pw,
			m_email,
			m_access_right)
		VALUES(
			#{m_name},
			#{m_userId},
			#{m_pw},
			#{m_email},
			0)
    </insert>
    
    <!-- 회원가입 시 아이디 중복확인 -->
    <select id="IDCheck" resultType="MemberVO">
    	SELECT * FROM t_sbp_member WHERE m_userId = #{m_userId}
    </select>
    	
    <!-- 로그인 시 lastDate 갱신 -->
    <update id="MemberLoginDateLog">
    	UPDATE t_sbp_member SET m_last_date = curdate() WHERE m_userId = #{m_userId}
    </update>
	
</mapper>